<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
-->
<div class="container-fluid" ng-controller="MainCtrl as main">
  <div class="row col-md-3">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header h4">Contexts</li>
        <li>
          <a class="btn btn-default" role="button"
            ng-class="{active: main.isSelected(1)}" ng-click="main.selected = 1">Projects</a>
        </li>
        <li>
          <a class="btn btn-default" role="button"
            ng-class="{active: main.isSelected(2)}" ng-click="main.selected = 2">All Documents</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row col-md-9">
    <div class="span8 marketing" ng-show="main.isSelected(1)">
      <div class="row col-md-6" ng-repeat="project in main.projects">
        <span class="span6">
          <button class="btn btn-success">{{ project.name }}</button>
        </span>
      </div>
    </div>

    <div class="span9 marketing" ng-show="main.isSelected(2)">
      <table class="table table-bordered table-hover table-responsive">
        <tr>
          <th>Edit</th>
          <th>Title</th>
          <th>Revision</th>
          <th>Status Code</th>
        </tr>
        <tr ng-repeat="doc in main.documents">
          <td><input type="checkbox" ng-model="doc.edit" /></td>
          <td>
            <input ng-show="doc.edit" ng-model="doc.title" placeholder="{{ doc.title }}"
              type="text">{{ doc.title }}</input>
            </td>
          <td>
            <input ng-show="doc.edit" ng-model="doc.revision" placeholder="{{ doc.revision }}"
              type="number">{{ doc.revision }}</input>
          </td>
          <td>
            <input ng-show="doc.edit" ng-model="doc.status" placeholder="{{ doc.status }}"
              type="text">{{ doc.status }}</input>
            </td>
          <td ng-show="doc.edit"><input ng-click="doc.edit = false" type="button" class="btn btn-info" value="Save"/></td>
        </tr>
      </table>
    </div>

  </div>
</div>
